.hiddenEdit{
    display: none;
}

.panel {display: none;}
.panel.show {display: block !important;}
.accordion {margin:0px 0px 0px 10px;}
.accordion dt, .accordion dd {padding: 2px;border-bottom: 0;font-size: 10px; width:78%;}
.accordion dt:hover{background:#f7f7f7;}
.accordion dt img {width:15px;height:auto;margin-bottom:-3px;}
.accordion dt a, .accordion dd a {color: black;}
.accordion dd {border-top: 0;font-size: 9px;}
.accordion dd:last-of-type {border-top: 1px solid white;position: relative;top: -1px;}

.titulo{margin-left:15px;}
.headerUiTest{}
.loadingUiTest{width:20px;height:auto;margin:-5px 5px 0px -20px;display:none;}

.quadroFalhas{display:none;}
.analise{width:120px;}
#resultado{float:right;margin-top:24px;margin-right:14px;}
#resultado table td{font-size:12px;}
.resultado div{display:inline-block;}
.passou{color:green;}
.falhou{color:red;}
#colorbox{z-index:10000;}
.yui-log{display:none;}
#side-panel{display:none;}
.fixedGridLayout #main-panel{padding:0px;}			
.todo{width:100%;height:130px;margin-bottom:10px;}
.behavior{width:100%;margin-bottom:10px;}


.infoUiTest {height:260px;}
.screenshot {font-size: 11px; width:50%;height:200px;float:left;}
.screenshot img {max-width:100%;height:auto;max-height:200px;}
.stackUiTest {font-size: 11px;width:100%;height:200px;}
.stackUiTest pre { height:100%;overflow:auto;white-space: pre-wrap;}
.uiTest a {text-decoration: none;}

.comboAnalise{margin-bottom:10px;margin-top:5px;margin-right:70px;}
.imgstatus{width:15px;height:auto;}

.observacoes{padding:0px 40px 0px 0px;display: table-cell !important;}
#dlFailApp .observacoes{display:block;}
#dlFailTest .observacoes{display:block;}

.description-commands{text-align:right;margin-bottom:10px;}
.description-commands .description-status{margin:0px 10px 0px 10px;}

