	<link rel="stylesheet" type="text/css" href="/jenkins/static/1e091584/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/jenkins/static/1e091584/css/color.css" />
	<link rel="stylesheet" type="text/css" href="/jenkins/static/1e091584/css/responsive-grid.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/colorbox.css" />
	<link rel="stylesheet" href="css/jquery.modal.css" />

	<form>		
		<div class="uiTest">

		    <div class="headerUiTest">
				<div style="font-size:10px;font-weight:normal;float:right;margin-right:20px;">
					<div style="text-align:right;margin-top:10px;">
						Execution history				
					</div>
					
					<a href="" ng-click="historyPrevious()">Previous</a>
					<a href="" ng-click="historyNext()">Next</a>
				</div>
				<h2 class="titulo" style="display:block;">
					UI Test Capture
				</h2>

				<h3 class="titulo" style="display:block;">
					<span ng-bind="job"></span> #<span>{{exec}}</span>
					<span>
						<span ng-if="runningStatus" style="width:25px;height:25px;">
							<img src="images/loading.gif" style="width:18px;height:auto;margin-top:-4px;margin:0 10px 0 10px;" />
						</span>
						<span ng-if="!runningStatus" style="width:25px;height:25px;">
							<a href="" ng-click="runJob()" class="reexec"><img src="images/reexec.png" style="margin-top:-4px;margin:0 10px 0 10px;"/></a>
						</span>
					</span>
					<table>
						<tr><td align="right">Passed: </td><td><span class="resultado passou" ng-bind="resume.passed"></span></td>
						<td align="right">Failed: </td><td><span class="resultado falhou" ng-bind="resume.failed"></span></td>
						<td align="right">Flaky: </td><td><span class="resultado flaky"  ng-bind="resume.flaky">0</span></td>
						<td align="right">Know Issue: </td><td><span class="resultado flaky"  ng-bind="resume.knowissue">0</span></td>
						<td align="right">Total: </td><td><span class="resultado total"  ng-bind="resume.total">0</span></td></tr>
					</table>
				</h3>
				
				<div style="width:50%;margin-left:10px;">
					<div ng-if="showExecutionDescriptionStatus">
						<textarea class="todo" ng-model="execDescription"></textarea>
						<div class="description-commands">
							<span class="description-status" id="execdescription-status"></span>
							<a href="" style="color:#d3d3d3;font-size:9px;" ng-click="showExecutionDescription()">Cancel</a>
							<input type="button" value="Save" ng-click="updateExecutionDescription(execDescription)" />
						</div>
					</div>
					<div style="margin-left:8px;">
						<span ng-if="execDescription!='' && !showExecutionDescriptionStatus">Execution description: {{execDescription}}</span>
						<a href="" ng-if="execDescription=='' && !showExecutionDescriptionStatus" style="color:#d3d3d3;font-size:9px;" ng-click="showExecutionDescription()">Result description </a>
						<a href="" style="color:#d3d3d3;font-size:9px;" ng-if="!showExecutionDescriptionStatus" ng-click="showExecutionDescription()">(edit)</a>
					</div>
				</div>
			</div>
	
			<div ng-if="resume.total>0">	
				<div class="headerUiTest" ng-if="resume.passed>=1 || resume.failed>=1">
					<h3 class="titulo" style="display:block;">
						Test results
					</h3>
				</div>
				<dl class="accordion" id="execucao">
					<div class="containerTeste"  ng-repeat="item in stack | orderBy : 'behavior'">
						<div ng-include="'resultItem.html'" ng-if="item.classificacao==''"></div>
					</div>
				</dl>
				
				<div class="headerUiTest" ng-if="resume.knowissue>=1">
					<h3 class="titulo">
						Quarantined tests by App Failure
					</h3>
				</div>
				<dl class="accordion" id="dlFailApp">
					<div class="containerTeste"  ng-repeat="item in stack | orderBy">
						<div ng-include="'resultItem.html'" ng-if="item.classificacao=='app_fail'"></div>
					</div>
				</dl>
		
				<div class="headerUiTest" ng-if="resume.flaky>=1">
					<h3 class="titulo">
						Quarantined tests by Test Failure (Flaky Tests)
					</h3>
				</div>
				<dl class="accordion" id="dlFailTest">
					<div class="containerTeste"  ng-repeat="item in stack | orderBy : item.metodo">
						<div ng-include="'resultItem.html'" ng-if="item.classificacao=='test_fail'"></div>
					</div>
				</dl>
			</div>				
		</div>
	</form>