<dt class="containerPassou accordion">
	<img src="images/passed.gif" class="imgstatus" ng-if="item.status=='passed'" />
	<img src="images/failed.png" class="imgstatus" ng-if="item.status=='error'||item.status=='failure'||item.status=='skipped'" />
	<a href="">
		<span ng-if="item.behavior==''">{{item.metodo}}</span>
		<span ng-if="item.behavior!=''">{{item.behavior}}</span>
	</a>
</dt>
<dd class="panel" style="padding-bottom:30px;">
	<div class="commands" style="width:100%;" >
		<div ng-if="item.classificacao==''">
			<a href="" ng-click="updateClassification(item.metodo,'app_fail')">Move to App Failure</a> - 
			<a href="" ng-click="updateClassification(item.metodo,'test_fail')">Move to Test Failure</a>
		</div>
		<div ng-if="item.classificacao=='test_fail'">
			<a href="" ng-click="updateClassification(item.metodo,'')">Remove from Quarantine</a> - 
			<a href="" ng-click="updateClassification(item.metodo,'app_fail')">Move to App Failure</a> 
		</div>
		<div ng-if="item.classificacao=='app_fail'">
			<a href="" ng-click="updateClassification(item.metodo,'')">Remove from Quarantine</a> - 
			<a href="" ng-click="updateClassification(item.metodo,'test_fail')">Move to Test Failure</a>
		</div>
	</div>
	<div style="width:100%;" class="infoUiTest">
		<div class="screenshot" style="width:50%;">
			<h2>Screenshot:</h2>
			<a href="{{urlPrefix}}/ws/target/screenshots/{{item.metodo}}.png" target="_blank" title="" class="linkScreenshot">
				<img ng-src="{{urlPrefix}}/ws/target/screenshots/{{item.metodo}}.png" />
			</a>
		</div>
		<div class="observacoes" style="width:50%;">
			<h2>Stacktrace:</h2>
			<pre class="stackUiTest" style="overflow:auto;">{{item.stacktrace}}</pre>
		</div>
	</div>
	<div style="width: 100%; display: table; ">
		<div class="observacoes" style="width:50%;">
			<h2>
				Result description:
				<a href="" style="color:#d3d3d3;font-size:9px;" ng-if="!showTestResultDescriptionStatus" ng-click="showTestResultDescription()">(edit)</a>
			</h2>
			<div ng-if="showTestResultDescriptionStatus">
				<textarea class="todo" ng-model="item.descricao"></textarea>
				<div class="description-commands">
					<span class="description-status">
					<a href="" style="color:#d3d3d3;font-size:9px;" ng-click="showTestResultDescription()">Cancel</a>
					</span><input type="button" value="Save" ng-click="updateTestResultDescription(item.metodo,item.descricao)" />
				</div>
			</div>
			<span ng-if="item.statusResultDescription!='' && !showTestResultDescriptionStatus">{{item.descricao}}</span>
			<div>
				<h2>Result history:</h2>
				<div>
					<span ng-repeat="itemHistory in item.historicoStatus">
						<img src="images/passed.gif" class="imgstatus" ng-if="itemHistory.status=='passed'" />
						<img src="images/failed.png" class="imgstatus" ng-if="itemHistory.status=='error'||itemHistory.status=='failure'||itemHistory.status=='skipped'" />
						{{itemHistory.id_exec}} 
					</span>
				</div>
			</div>
		</div>		
		
		<div class="observacoes" style="width:50%;">
			<h2>
				Expected test behaviour
				<a href="" style="color:#d3d3d3;font-size:9px;" ng-if="!showTestDescriptionStatus" ng-click="showTestDescription()">(edit)</a>
			</h2>
			<div ng-if="showTestDescriptionStatus">
				<textarea class="todo" ng-model="item.statusDescription"></textarea>
				<div class="description-commands">
					<a href="" style="color:#d3d3d3;font-size:9px;" ng-click="showTestDescription()">Cancel</a>
					<input type="button" value="Save" ng-click="updateTestDescription(item.metodo,item.statusDescription)" />
				</div>
			</div>
			<span ng-if="item.statusDescription!='' && !showTestDescriptionStatus">{{item.statusDescription}}</span>
			
			<h2>
				Test description 
				<a href="" style="color:#d3d3d3;font-size:9px;" ng-if="!showTestBehaviourStatus" ng-click="showTestBehaviour()">(edit)</a>
			</h2>
			<div ng-if="showTestBehaviourStatus">
				<input type="text" ng-model="item.behavior" class="behavior" />
				<div class="description-commands">
					<a href="" style="color:#d3d3d3;font-size:9px;" ng-click="showTestBehaviour()">Cancel</a>
					<input type="button" value="Save" ng-click="updateTestBehaviour(item.metodo,item.behavior)" />
				</div>
			</div>
			<span ng-if="item.behavior!='' && !showTestBehaviourStatus">{{item.behavior}}</span>
		</div>
	</div>
</dd>

<script>
$(document).ready(function() {
	var acc = document.getElementsByClassName("accordion");
	for (var i = 0; i < acc.length; i++) {
	    acc[i].onclick = function(){
	        this.classList.toggle("active");
	        this.nextElementSibling.classList.toggle("show");
	    }
	}	
});
</script>
